
<h1 class="title_tweets">Tweets for <%= @user.name.titleize %><h1>

<%= link_to edit_picture_path do %>
  <%= image_tag current_user.picture.url(:medium), id: 'well2' %>
<% end %>

<% @tweets.each do |tweet| %>
<div class="well">
  <h6 style="color:black;"><strong><%= @user.username %><strong></h6>
    <p style="color:black; font-size:24px; overflow:hidden;"><%= tweet.content %></p>
    <p style="color:blue; font-size:10px;">(<%= time_ago_in_words(tweet.created_at) %> ago)</p>
</div>
<% end  %>
